body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    margin-top: 0px;
    margin-bottom: 1em;
}

.wd-outer-div {
    margin-left: 16px;
    margin-right: 16px;
    border-left: solid 1px rgb(47, 51, 54);
    border-right: solid 1px rgb(47, 51, 54);
}

.wd-secondary-text {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-float-done {
    clear: both;
}