.wd-header-div {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: solid 1px rgb(47, 51, 54);
}

.wd-header-div>p {
    margin-top: 0px;
    margin-bottom: 2px;
}

.wd-bookmarks-title {
    font-size: 20px;
}

.wd-bookmarked-tuit {
    padding-left: 1em;
    padding-top: 1em;
    border-bottom: solid 1px rgb(47, 51, 54);
}

.wd-profile-picture {
    width: 48px;
    height: 48px;
    border-style: none;
    border-radius: 24px;
    float: left;
}

.wd-tuit-content {
    margin-left: 48px;
    padding-left: 1em;
    max-width: 506px;
}

.wd-tuit-content p {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.wd-tuit-link {
    border: solid 1px rgb(47, 51, 54);
    border-radius: 16px;
}

.wd-tuit-link>p {
    margin-left: 12px;
    margin-right: 12px;
}

.wd-tuit-link-preview-image {
    border-style: none;
    border-radius: 16px 16px 0px 0px;
    width: 504px;
    height: 264px;
    border-bottom: solid 1px rgb(47, 51, 54);
    margin-bottom: 0.5em;
}

.wd-tuit-reaction-buttons {
    margin-bottom: 1em;
}

.wd-tuit-reaction-buttons>a {
    width: 24%;
    display: inline-block;
    padding-top: 1em;
    color: rgb(110, 118, 125);
    text-decoration: none;
}

.wd-heart-icon-red {
    color: red !important;
}