body {
    font-family: Helvetica;
}

.stack-icon {
    position: absolute;
    left: 1.55em;
    top: 1.2em;
    font-size: 0.75em;
}

.icon-inside-input-container {
    position: relative;
}

.icon-inside-input-container>input {
    padding: 0.5em;
    padding-left: 2.5em;
}

.icon-inside-input-container>i {
    position: absolute;
    font-size: 1.25em;
    left: 0.5em;
    top: 0.5em;
}

.settings-button {
    font-size: 1.5em;
}

.profile-img {
    object-fit: cover;
    width: 3em;
    height: 3em;
}

.on-image-caption-container {
    position: relative;
}

.on-image-caption-container>span {
    position: absolute;
    left: 0;
    bottom: 0;
}

.tuit-preview-image {
    object-fit: cover;
    width: 8em;
    height: 8em;
}